<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Helvetica, sans-serif;
      }
      .button {
        border: none;
        color: white;
        padding: 6px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 8px 2px;
        cursor: pointer;
        border-radius: 8px;
      }
      .buttonConfirm {
        background-color: #e20613;
      }
      div.main {
        font-size: 13px;
      }
      div.footer {
        font-size: 10px;
        color: #808080;
      }
    </style>
  </head>
  <body>
    <img
      src="https://i.ibb.co/1nycPxH/logo-pb-seect.png"
      alt="logo"
      height="60"
    />
    <div class="main">
      <p>Prezado docente,</p>
      <p>
        Estamos lhe convidando a participar da pesquisa “Desafios do Ensino
        Remoto Remoto Emergencial na Paraíba durante a Pandemia do Coronavírus”,
        através do formulário online acessível abaixo. Basta clicar no botão e
        participar (caso o formulário não abra automaticamente, você poderá
        copiar o link abaixo do botão e colar no navegador).
      </p>
    </div>
    <button class="button buttonConfirm">
      <a
        class="button"
        title="Clique no botão para acessar formulário"
        href="{{ PERSONALIZED_SURVEY_LINK }}"
        target="_blank"
        rel="noopener"
        >Participar da Pesquisa</a
      >
    </button>
    <div class="main">
      <p>
        <a
          title="Clique para acessar formulário"
          href="{{ PERSONALIZED_SURVEY_LINK }}"
          target="_blank"
          rel="noopener"
          >{{ PERSONALIZED_SURVEY_LINK }}</a
        >
      </p>
      <p>
        Esta pesquisa é uma iniciativa da Secretaria Estadual da Educação e da
        Ciência e Tecnologia da Paraíba (SEECT/PB) e tem como objetivo
        identificar os limites e as possibilidades do ensino remoto e uso de
        tecnologias educacionais associadas nas escolas estaduais paraibanas.
        Mais detalhes podem ser obtidos neste link:
        <a
          href="https://sites.google.com/see.pb.gov.br/pesquisaseect/info"
          target="_blank"
          >https://sites.google.com/see.pb.gov.br/pesquisaseect/info</a
        >
      </p>

      <p>
        Responder ao formulário é totalmente anônimo, gratuito e
        não-obrigatório. A sua participação na pesquisa é livre, voluntária e
        seu nome e dados pessoais não serão armazenados nem divulgados em
        nenhuma fase da pesquisa.
      </p>

      <p>
        Este questionário é dirigido para DOCENTES da rede estadual de ensino da
        Paraíba. Sua resposta contribuirá para a prospecção de melhorias no
        âmbito do ensino híbrido a partir da visão do docente sobre as
        facilidades e dificuldades e desafios enfrentados durante o Ensino
        Remoto Emergencial (ERE), bem como sobre o acesso aos recursos
        disponibilizados e seu impacto na aprendizagem.
      </p>

      <p>
        Sua resposta contribuirá para melhorias no ensino a partir da visão do
        aluno sobre as facilidades e dificuldades vivenciadas durante o ensino
        remoto emergencial.
      </p>

      <p>
        A resposta ao formulário pode ser interrompida a qualquer momento, sem
        nenhum problema, mas sua colaboração é muito valiosa para o entendimento
        e melhoria do uso de tecnologia na educação escolar em nosso Estado.
      </p>

      <p>Agradecemos antecipadamente sua participação,</p>

      <div class="main">
        <p>
          Secretaria Estadual da Educação e da Ciência e Tecnologia SEECT<br />
          Governo do Estado da Paraíba
        </p>
      </div>
    </div>
    <div class="footer">
      <p>
        - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        - - - - - - - - - -<br />
        Esta é uma mensagem automática. Por favor não responda.<br />
        Caso precise de ajuda ou deseje mais informações, você poderá
        <br />enviar um e-mail para
        <a href="mailto:pesquisas@see.pb.gov.br">pesquisas@see.pb.gov.br</a> ou
        acessar a página no link
        <a
          href="https://sites.google.com/see.pb.gov.br/pesquisaseect/info"
          target="_blank"
          >https://sites.google.com/see.pb.gov.br/pesquisaseect/info</a
        >.
      </p>
    </div>
  </body>
</html>
